{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "import",
    "promise",
    "react",
    "flowtype",
    "flowtype-errors"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "__DEV__": false,
    "__TEST__": false,
    "__PROD__": false,
    "__COVERAGE__": false,
    "ga": false
  },
  "rules": {
    "arrow-parens": ["off"],
    "consistent-return": "off",
    "comma-dangle": "off",
    "generator-star-spacing": "off",
    "import/no-unresolved": ["error", { "ignore": ["electron"] }],
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "no-console": 0,
    "no-use-before-define": "off",
    "no-multi-assign": 0,
    "no-underscore-dangle": "off",
    "no-bitwise": "off",
    "no-plusplus": "off",
    "no-continue": "off",
    "no-unneeded-ternary": "off",
    "global-require": "off",
    "padded-blocks": "off",
    "function-paren-newline": "off",
    "object-curly-newline": "off",
    "class-methods-use-this": "off",
    "no-return-assign": "off",
    "promise/param-names": "off",
    "promise/always-return": "off",
    "promise/catch-or-return": "off",
    "promise/no-native": 0,
    "react/default-props-match-prop-types": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/jsx-space-before-closing": "off",
    "react/jsx-tag-spacing": "off",
    "react/prefer-stateless-function": "off",
    "react/forbid-prop-types": ["off"],
    "react/no-unused-prop-types": "off",
    "react/require-default-props": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "max-len": [2, {"code": 180, "tabWidth": 4, "ignoreUrls": true}],
    "no-useless-computed-key": "off",
    "no-lonely-if": "off",
    "implicit-arrow-linebreak": "off",
    "lines-between-class-members": "off",
    "operator-linebreak": "off",
    "react/jsx-wrap-multilines": "off",
    "react/destructuring-assignment": "off",
    "default-case": "off"
  }
}
